
.full-img {
    position: relative;
    grid-area: full-img;
}

.breadcrumb2 {
    display:none;
}

.image div {
cursor: pointer;
top: 2px;
left: 2px;
}

.thumb-bar{
grid-area: thumb-bar;
margin:5px 0;
}

.thumb-bar img{
    width: 15%;
    height: auto;
    float: left;
    cursor: pointer;
    margin: 0 5px;
    
}
#produit {
    display:none;
    grid-template-areas: "full-img"
                        "thumb-bar"
                        "description";
    grid-template-rows:1fr 0.2fr 0.2fr ;
    grid-template-columns: 1fr;
}
.details {
    display:none;
}
.description{
    grid-area: description;
    line-height: 2;
    margin:10px;
}
.description *{
    line-height: 2;
    text-align: justify;
    margin:10px;
}
.add {
    padding: 5px 30px;
    margin: 5px;
    color:#ffff;
    background-color: #007ef3;
    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #fafcff ;
}
/*----------------------------------------
#media min-width: 800px
----------------------------------------*/
@media screen and (min-width: 800px) {
    
    #produit {
        display:none;
        grid-template-areas: "full-img description"
                            "thumb-bar .";
        grid-template-rows: 1fr 0.2fr;
        grid-template-columns: 1fr 1fr;
    }
}